ul#shape {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

ul#shape li {
    position: absolute;
    display: block;
    list-style: none;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(134, 134, 134, .2);
    bottom: -12.5rem;
    animation: floating 15s infinite linear;
}

ul#shape li:nth-child(1) {
    width: 80px;
    height: 80px;
    left: 25%;
    animation-delay: 0.1s;
}

ul#shape li:nth-child(2) {
    width: 20px;
    height: 20px;
    left: 95%;
    animation-delay: 10s;
}

ul#shape li:nth-child(3) {
    width: 70px;
    height: 70px;
    left: 75%;
    animation-delay: 18s;
}

ul#shape li:nth-child(4) {
    width: 30px;
    height: 30px;
    left: 10%;
    animation-delay: 5s;
}

ul#shape li:nth-child(5) {
    width: 40px;
    height: 40px;
    left: 60%;
    animation-delay: 8s;
}

ul#shape li:nth-child(6) {
    width: 90px;
    height: 90px;
    left: 84%;
    animation-delay: 1s;
}

ul#shape li:nth-child(7) {
    width: 50px;
    height: 50px;
    left: 50%;
    animation-delay: 15s;
}

ul#shape li:nth-child(8) {
    width: 100px;
    height: 100px;
    left: 40%;
    animation-delay: 6s;
}

ul#shape li:nth-child(9) {
    width: 40px;
    height: 40px;
    left: 70%;
    animation-delay: 5s;
}

ul#shape li:nth-child(10) {
    width: 80px;
    height: 80px;
    left: 15%;
    animation-delay: 11.5s;
}

@keyframes floating {
    from {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    to {
        transform: translateY(-1200px) rotate(720deg);
        opacity: 0;
        border-radius: 80%;
    }
}
