@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Kanit&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --bg-black-50: #e8dfec;
    --bg-black-100: #fdf9ff;
    --bg-black-900: #fff6dc;

    --text-black-700: #504e70;
    --text-black-900: #302e4d;

    --home-section-color:  #ffe2fb;
    --about-section-color: #dae3ff;
    --portfolio-section-color-1: #dae3ff;
    --portfolio-section-color-2: #ffedf2;
    --contact-section-color-1: #ffedf2;
    --contact-section-color-2: #ffd0a8;

    --contact-card-color-1: #fad3ff;
    --contact-card-color-2: #ffd0a8;
    --contact-card-border-color: #ffccb7;

    --hamburger-menu-color: #fdf9ff;
}

body.dark {
    --bg-black-50: #393939;
    --bg-black-100: #222222;
    --bg-black-900: #151515;

    --text-black-700: #e9e9e9;
    --text-black-900: #ffffff;

    --home-section-color: #323131;
    --about-section-color: #393939;
    --portfolio-section-color-1: #393939;
    --portfolio-section-color-2: #151515;
    --contact-section-color-1: #151515;
    --contact-section-color-2: #222222;

    --contact-card-border-color: #e9e9e9;
    --contact-card-color-1: #323131;
    --contact-card-color-2: #222222;

    --hamburger-menu-color: #504f4f;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::before, ::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.home {
    background: linear-gradient(
        0deg, var(--bg-black-900), var(--home-section-color)
    );
    min-height: 100vh;
    display: block;
    padding: 0 2rem;
    opacity: 1;
}

.padd-15 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container {
    max-width: 80rem;
    width: 100%;
    margin: auto;
}

.main-content {
    padding-left: 17rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
    position: relative;
}

.btn {
    font-size: 1rem;
    font-weight: 500;
    padding: .75rem 2.25rem;
    color: white;
    display: inline-block;
    border-radius: 40px;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    background: var(--primary-color);
    transition: all .3s ease;
}

.btn:hover {
    transform: scale(1.05);
}

.aside {
    width: 17rem;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--bg-black-50);
}

.aside .logo {
    position: absolute;
    top: 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    transition: transform 1.2s ease-out .3s;
}

.aside .logo a {
    color: var(--text-black-900);
    font-weight: bold;
    padding: 1rem 1.25rem;
    font-size: 2rem;
    letter-spacing: .25rem;
    position: relative;
}

.aside .logo a span {
    font-family: 'Clicker Script', cursive;
    font-size: 2.5rem;
}

.aside .logo a::before {
    content: '';
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    border-bottom: 5px solid var(--primary-color);
    border-left: 5px solid var(--primary-color);
    bottom: 0;
    left: 0;
    transition:  .3s all ease-in-out;
}

.aside .logo a::after {
    content: '';
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    border-top: 5px solid var(--primary-color);
    border-right: 5px solid var(--primary-color);
    top: 0;
    right: 0;
    transition:  .3s all ease-in-out;
}

.aside .logo a:hover {
    color: var(--primary-color);
}

.aside .logo a:hover::before,
.aside .logo a:hover::after {
    width: 100%;
    height: 100%;
    border-color: var(--primary-color);
}

.aside .nav-toggler {
    height: 2.5rem;
    width: 3rem;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 18.75rem;
    top: 1.25rem;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
}

.aside .nav-toggler span {
    height: .125rem;
    width: 1.125rem;
    background: var(--primary-color);
    display: inline-block;
    position: relative;
}

.aside .nav-toggler span::before {
    content: '';
    height: .125rem;
    width: 1.125rem;
    background: var(--primary-color);
    position: absolute;
    top: -0.35rem;
    left: 0;
}

.aside .nav-toggler span::after {
    content: '';
    height: .125rem;
    width: 1.125rem;
    background: var(--primary-color);
    position: absolute;
    top: 0.35rem;
    left: 0;
}

.aside .nav {
    margin-top: 3rem;
}

.aside .nav li {
    margin-bottom: 1.8rem;
    display: block;
}

.aside .nav li:hover {
    background-color: #ffdbe9;
    border-radius: 6px;
    padding-bottom: .25rem;
}

body.dark .aside .nav li:hover {
    background-color: #bb6084;
    border-radius: 6px;
    padding-bottom: .25rem;
}

.aside .nav li a {
    font-size: 1rem;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: .25rem 1rem;
}

.aside .nav li a.active {
    color: var(--primary-color);
}

.aside .nav li a i {
    margin-right: 1rem;
}

.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello {
    font-size: 1.75rem;
    margin: 1rem 0;
}

h3.hello span {
    font-family: 'Kanit', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

h3.my-profession {
    font-size: 2rem;
    margin: 1rem 0;
}

.typing {
    color: var(--primary-color);
    text-shadow: 1px 1px 1px black;
}

.typing:hover {
    background-position: 0 100%;
}

.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}


.home-info p {
    margin-bottom: 2.5rem;
    font-size: 1.25rem;
    color: var(--text-black-700);
}

.home-img::after {
    content: '';
    position: absolute;
    height: 5rem;
    width: 5rem;
    border-bottom: .625rem solid var(--primary-color);
    border-right: .625rem solid var(--primary-color);
    right: 4rem;
    bottom: -2.5rem;
}

.home-img::before {
    content: '';
    position: absolute;
    height: 5rem;
    width: 5rem;
    border-top: .625rem solid var(--primary-color);
    border-left: .625rem solid var(--primary-color);
    left: 4rem;
    top: -2.5rem;
}

.home .home-img img {
    margin: auto;
    border-radius: 5px;
    height: 25rem;
    box-shadow: 1px 2px 4px black;
    transition: transform .5s;
}

.home .home-img img:hover {
    transform: scale(1.1);
}
