@media (max-width: 94rem) {
    .main-content .home-img::before,
    .main-content .home-img::after {
        display: none;
    }

    .skill, .about, .portfolio, .contact {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: 83rem) {
    .contact .row {
        justify-content: center;
    }

    .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .portfolio-card,
    .contact .row .contact-info-card {
        flex: 0 0 80%;
        max-width: 80%;
    }
}

@media (max-width: 75rem) {
    .aside {
        left: -17rem;
    }

    .mobile-drawer {
        display: block;
    }

    .main-content .home-img {
        display: none;
    }

    .scroll-down {
        padding-left: 3rem;
    }

    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .main-content {
        padding-left: 0;
    }

    .info-card p span {
        display: block;
        margin-left: 0;
    }
}

@media (max-width: 62rem) {
    .portfolio-card, .contact-info-card {
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 1rem;
    }

    #logos li {
        height: 200%;
    }
}

@media (max-width: 48rem) {
    .skills, .personal-info,
    .education, .experience,
    .portfolio-card, .contact-form .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #portfolio .row:nth-child(3) {
        justify-content: center;
    }

    #portfolio .portfolio-card .face.face1 {
        min-width: 100%;
    }

    #logos li {
        margin: 0 1.5rem;
    }

    h3.my-profession {
        font-size: 1.9rem;
    }

    h3.hello span {
        display: block;
    }
}

@media (max-width: 29rem) {
    .scroll-down {
        display: none;
    }

    .skill .section-title {
        margin-top: 0;
    }

    .skill .portfolio-heading {
        margin-top: 0;
    }

    #university {
        border-bottom: none;
    }

    .skill .skill-container {
        width: 80%;
        padding-bottom: 12rem;
    }

    #logos li {
        margin: 0 .5rem;
    }

    footer {
        padding: 1.625rem 2.625rem;
    }
}
