.style-switcher {
    position: fixed;
    right: 0;
    top: 4rem;
    padding: 1rem;
    width: 15rem;
    border: 1px solid var(--bg-black-50);
    background: var(--bg-black-100);
    z-index: 5;
    border-radius: 6px;
    transition: transform .3s ease;
    transform: translateX(100%);
}

.style-switcher.open {
    transform: translateX(-2.5rem);
}

.s-icon {
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    font-size: 1.25rem;
    background: var(--bg-black-100);
    color: var(--text-black-900);
    right: 100%;
    border: 1px solid var(--bg-black-50);
    margin-right: 1.5rem;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 50%;
}

.s-icon i {
    line-height: 2.5rem;
}

.colors {
    cursor: pointer;
}

.style-switcher-toggler {
    top: 0;
}

.day-night {
    top: 3.5rem;
}

.style-switcher h4 {
    margin: 0 0 .625rem;
    color: var(--text-black-700);
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}

.colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.colors span {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.color-1 {
    background: #ec1839;
}

.color-2 {
    background: #fa5b0f;
}

.color-3 {
    background: #37b182;
}

.color-4 {
    background: #1854b4;
}

.color-5 {
    background: #f021b2;
}
